<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Club Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item>
      <ion-label>Club Name</ion-label>
      <ion-input placeholder="Enter the Club Name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Address</ion-label>
      <ion-input placeholder="Enter the Club's Address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Website</ion-label>
      <ion-input placeholder="Enter the Club's Website URL"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input placeholder="Enter the Club's Email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Phone Number</ion-label>
      <ion-input placeholder="Enter the Club's Phone Number"></ion-input>
    </ion-item>

</ion-content>
