.selector {
    color: #29235e;
    justify-content: center;
    border: solid 2px #e8ebf0;
    background-color: #ffffff;
    text-align: center;
}

.vertical-align-content
{
     display: flex;
     align-content: center;
     align-items: center;
     text-align: center;
}